.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ec9387;
  outline: none;
}

.contact-form textarea {
  resize: vertical;
  height: 120px;
}

.submit-button {
  background-color: #db9289;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-weight: bold;
}

.submit-button:hover {
  transform: translateY(-5px);
  background-color: #b67064;
}

/* Anpassningar för mindre skärmar */
@media (max-width: 768px) {
  .contact-form, p {
    max-width: 80%;
    padding: 15px; 
    margin: 20px auto; 
  }

  .submit-button {
    padding: 12px; 
    font-size: 16px;
  }

  .contact-form textarea {
    height: 100px;
  }


  
}

.kontaktrubrik {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}

