/* Gör så att body och html tar hela höjden */
html, body {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: 'Playfair Display', serif;
}

h1, h2, h3, p {
  font-family: 'Playfair Display', serif;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 50px 170px;
}

/* Stil för portfolio-container */
.portfolio-container {
  text-align: center; 
}

.portfolio-container h1, 
.portfolio-container {
  color: #db9289;  
}

/* Stil för rubrik */
.intro-section, h2 {
  font-size: 54px; 
  font-weight: 400;  
  color: #db9289; 
  margin: 0 0 20px 0; 
}


/* Stil för stycket (p) */
.intro-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  width: 100%; 
}

/* Gör p bredare bara på större skärmar */
@media (min-width: 769px) {
  .intro-section p {
    width: 480px; 
  }
}

/* Stil för Om mig-länken */
.about-link {
  display: inline-block;
  color: #db9289; 
  font-size: 32px; 
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  margin-bottom: 0; 
}

.about-link:hover {
  transform: scale(0.95);
  color: #db9289; 
}

/* Stil för pilen */
.arrow1 {
  font-size: 32px;
  transition: transform 0.3s ease; 
}

/* Pilens hover-effekt för att flytta den lite */
.about-link:hover .arrow1 {
  transform: translateX(5px);
}

/* Fullskärmsbild */
.image-section {
  display: flex;
  justify-content: center;  
  align-items: center;
  height: 500px; 
  margin-top: -20px; 
}

.full-screen-image {
  width: 80%; 
  height: auto; 
  max-width: 450px; 
  border-radius: 50px;
}

/* Anpassningar för mindre skärmar */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column; 
    padding: 20px;
    text-align: center; 
  }

  .intro-section, h2 {
    font-size: 40px; 
  }

  .intro-section p {
    font-size: 18px; 
    margin-top: -20px; 
  }

  .full-screen-image {
    width: 70%;  
    max-width: 400px; 
    margin-top: -10px; 
  }
}

/* Grundläggande stil för footern */
footer {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #333;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

/* Responsiv footer för att ligga längst ner på alla skärmstorlekar */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
